<div class="main">
    <div class="light-blue cross-extra"></div>
    <div class="light-blue cross-center">
        <div class="dark-transparent option-bg left">
            <h2 style="padding-bottom: 45px;">SI ERES MÉDICO</h2>
            <button class="list-button"><a routerLink="/medic-log-in" class="nav-link">INICIA SESIÓN</a></button>
            <button class="list-button"><a routerLink="/medic-sign-in" class="nav-link">REGISTRATE</a></button>
        </div>
        <div class="dark-transparent option-bg right">
            <h2 style="padding-bottom: 45px;">SI ERES PACIENTE</h2>
            <button class="list-button"><a routerLink="/patient-log-in" class="nav-link">INICIA SESIÓN</a></button>
            <button class="list-button"><a routerLink="/patient-sign-in" class="nav-link">REGISTRATE</a></button>
    </div>
    <div class="light-blue cross-extra"></div>
</div>