<div class="main">
    <div class="light-blue cross-extra"></div>
    <div class="light-blue cross-center">
        <div class="dark-transparent option-bg left">
            <h2>SI AUN NO<br>TIENES UNA CUENTA</h2>
            <button class="access-button"><a routerLink="/log-in"  class="nav-link">INICIA SESIÓN</a></button>
        </div>
        <div class="dark-transparent option-bg right">
            <h2>SI YA TIENES UNA<br>CUENTA REGISTRADA</h2>
            <button class="access-button"><a routerLink="/sign-in"  class="nav-link">REGÍSTRATE</a></button>
        </div>
    </div>
    <div class="light-blue cross-extra"></div>
</div>
