<div>
    <header>
        <nav class="nav-link navbar-expand bg-dark">
          <div class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="#" class="navbar-brand">PostNet</a>
            </li>
            <button class="call-to-action" style="vertical-align:middle" routerLink="sign-in"><span>Ingresa </span></button>
            <!-- <li class="nav-item">
              <a routerLink="sign-in" class="nav-link">Sign In</a>
            </li>
            <li class="nav-item">
              <a routerLink="log-in" class="nav-link">Log In</a>
            </li> -->
          </div>
        </nav>
    </header>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>