* {
    font-family: Tahoma, sans-serif, sans-serif;
}

div{
    margin: 0;
    overflow: hidden;
}

h2 {
    margin: 10% auto 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    color: #ffffff;
}

.light-blue {
    background-color: #7DB7FF;
}

.dark-transparent {
    background-color: rgba(55, 53, 81, 0.27);
}

button:hover, a:hover {
    cursor: pointer;
}

.right{
    margin-left: 10%;
}

.left{
    margin-right: 10%;
}